.container-fluid {
  // flex-direction: row;
  //  padding: 5;

  .left-container {
    background-color: #FFCB77;
    /*min-width: 50%;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
  }

  .right-container {
    /*min-width: 50%;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
  }
}