.cover-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .left-container {
    background-color: #FFCB77;
    min-width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-container {
    min-width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}